<div class="container-fluid" style="padding-left:0;padding-right:0;">
    <form ng-submit="doReflowIt()">
      <div class="row vertical-align-center" style="margin-bottom:6px;">
          <div class="col-sm-9 col-xs-12">
            <div class="input-group">
              <input type="text" style="font-size:1.2em;padding:3px 3px;" class="form-control" placeholder="Enter PDF URL..." ng-model="reflowitObj.pdfUrl" >
              <div class="input-group-btn" style="margin-top:0;">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </div>
      </div>
    </form>

    <div class="row" ng-if="reflowitObj.status == 'busy'">
        <div class="col-xs-12 text-center">
            <div><img src="images/cloud_loading_256.gif"></div>
        </div>
    </div>
    <div class="row" ng-if="reflowitObj.response">
        <div class="col-xs-12">
          <a href="{{reflowitObj.response.mobile_pdf}}">Mobile PDF</a>
          <!-- <pre pretty-json="reflowitResponse"/> -->
        </div>
    </div>

</div>
